.btn {
    background-color: $background-color;
    border: 1px solid grey;
    color: #000;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 12px 0;
}

.btn:hover {
    background-color: #ddd;
}

.btn.wide {
    width: 40%;
}

.btn.wide:hover  {
    background-color: grey;
}